spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/voting
    username: dev
    password: dev

  flyway:
    default-schema: voting

  jpa:
    show-sql: true
    open-in-view: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 50
        jdbc:
          batch_size: 50
        default_schema: voting
